body {
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 60px;
  position: absolute;
  left: 50px;
  top: 2%;
}

.Table {
  display: flex;
  flex-direction: row;
  margin: 20px;
  position: absolute;
  top: 90px;
  left: 32px;
}

p {
  position: relative;
  top: -4px;
  left: 120px;
  font-size: 20px;
}

h2 {
  position: absolute;
  top: -10%;
}

.bubble {
  position: absolute;
  top: 30%;
  left: 22%;
}