body {
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  font-size: 2vw;
  text-align: center;
}

.Table {
  display: flex;
  justify-content: center;
}

p {
  font-size: 1em;
  align-items: center;
}

h2 {
  font-size: 1em;
  text-align: center;
}

.bubble-container {
  padding-top: 5vh; 
  padding-left: 22vw; 
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4vw;
  }

  .bubble-container {
    padding-top: 2vh; 
    padding-left: 1vw; 
  }
}